// app global css
@import '~variables'
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  +respond-max($breakpoint-sm) {
    font-size 50%
  }
}

.heading {
  color $primary
  font-family $font-display
  margin 0
  padding 0
  font-weight: 700

  &-1 {
    color white
    font-size 4.5rem
    text-transform uppercase
    letter-spacing .7rem
  }

  &-2 {
    filter brightness(50%)
  }

  &-4 {
    font-size 2.5rem
    &--light {
      color white
      font-family $font-primary
      font-weight 400
      font-size 2rem
    }
  }

  &-5 {
    letter-spacing .5rem
    font-size 1.9rem
  }
}

.text {
  font-family $font-primary
  font-size 1.6rem
  +respond-max($breakpoint-md) {
    font-size 2.5rem
  }

  +respond-max($breakpoint-sm) {
    font-size 1.8rem
  }
}

.btn {
  cursor pointer
  font-size 1.4rem
  background-color $primary
  color white
  padding 2rem 4rem
  border 0
  box-shadow none
  text-transform uppercase
  transition all .2s ease
  font-family $font-display
  letter-spacing .3rem

  &:hover {
    background-color rgba($primary, .95)
    transform scale(1.02)
  }

  &:active {
    transform scale(1) translateY(-5px)
  }
}